@charset "UTF-8";
/*
import
google font
*/
@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
/*
参考
https://speakerdeck.com/tacamy/modanri-ben-yu-huontozhi-ding

適用外（regularウェイトが適用される）
window 8.1で、かつoffice用フォントパックをいれていない場合
・一般的なユーザはoffice用フォントパックを入れる想定
・そもそもwindows8.1のシェアが少ない
--------------- */
@font-face {
  font-family: "MyYuGothicM";
  font-weight: normal;
  src: local("YuGothic-Medium"), local("Yu Gothic Medium"), local("YuGothic-Regular");
  /* Mediumがない場合 */
}

@font-face {
  font-family: "MyYuGothicM";
  font-weight: bold;
  src: local("YuGothic-Bold"), local("Yu Gothic");
  /* for Chrome */
}

/* 游ゴシック指定
MyYuGothicM                Windows 游ゴシック
YuGothic                   OS X 游ゴシック
-apple-system              iOS San Francisco
BlinkMacSystemFont         iOS Chrome San Francisco
Hiragino Kaku Gothic ProN  OS X, iOS ヒラギノ
Meiryo                     Windows メイリオ
--------------- */
/* システムフォント指定
-apple-system              OS X, iOS SanFrancisco
BlinkMacSystemFont         OS X, iOS Chrome San Francisco
Hiragino Kaku Gothic ProN  OS X, iOS ヒラギノ
MyYuGothicM                Windows 游ゴシック
Meiryo                     Windows メイリオ
--------------- */
p {
  display: block;
  margin: 1em 0;
}

b, strong {
  font-weight: bold;
  font-weight: 700;
}

dfn, cite, em, i {
  font-style: italic;
}

del, span[style='text-decoration: line-through;'] {
  opacity: 0.8;
}

ul, ol {
  list-style-position: inside !important;
  padding-left: 0;
  display: block;
  margin-bottom: 1.75em;
}

ul li, ol li {
  margin-top: .1em;
}

ul li:first-child, ol li:first-child {
  margin-top: 0;
}

ul {
  list-style: disc;
  padding-left: .4em;
}

ul li {
  text-indent: -0.8em;
  padding-left: 0.8em;
}

ol {
  list-style: decimal;
}

ol li {
  text-indent: -1.3em;
  padding-left: 1.3em;
}

blockquote {
  display: block;
  border-left: 4px solid #1a1a1a;
  color: #686868;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.6;
  padding-left: 1.2em;
  margin: 0;
  margin-bottom: 1.75em;
}

blockquote p {
  margin-bottom: 1.4rem;
}

blockquote, q {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

hr {
  background-color: #d1d1d1;
  background-color: rgba(51, 51, 51, 0.1);
  border: 0;
  height: 1px;
  margin-bottom: 1.75em;
}

.alignleft {
  float: left;
  padding: 0 0 0.5em 0.5em;
}

.aligncenter {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

.alignright {
  float: right;
  padding: 0 0 0.5em 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: 700;
  margin: 1rem 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4, h5, h6 {
  font-size: 1.4rem;
}

pre {
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid #d1d1d1;
  font-size: 16px;
  font-size: 1rem;
  margin: 1em 0;
  max-width: 100%;
  overflow: auto;
  padding: 1.75em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code, kbd, tt, var, samp, pre {
  font-family: Inconsolata, monospace;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.clearfix {
  overflow: hidden;
  zoom: 1;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

img[class*="wp-image-"],
img[class*="attachment-"] {
  height: auto;
  max-width: 100%;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", "Meiryo", sans-serif;
}
