@charset "UTF-8";
/*-------------------------------------
reset css
-------------------------------------*/
/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Muli");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
select, button, input, textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
import
google font
*/
/*
参考
https://speakerdeck.com/tacamy/modanri-ben-yu-huontozhi-ding

適用外（regularウェイトが適用される）
window 8.1で、かつoffice用フォントパックをいれていない場合
・一般的なユーザはoffice用フォントパックを入れる想定
・そもそもwindows8.1のシェアが少ない
--------------- */
@font-face {
  font-family: "MyYuGothicM";
  font-weight: normal;
  src: local("YuGothic-Medium"), local("Yu Gothic Medium"), local("YuGothic-Regular");
  /* Mediumがない場合 */
}

@font-face {
  font-family: "MyYuGothicM";
  font-weight: bold;
  src: local("YuGothic-Bold"), local("Yu Gothic");
  /* for Chrome */
}

/* 游ゴシック指定
MyYuGothicM                Windows 游ゴシック
YuGothic                   OS X 游ゴシック
-apple-system              iOS San Francisco
BlinkMacSystemFont         iOS Chrome San Francisco
Hiragino Kaku Gothic ProN  OS X, iOS ヒラギノ
Meiryo                     Windows メイリオ
--------------- */
/* システムフォント指定
-apple-system              OS X, iOS SanFrancisco
BlinkMacSystemFont         OS X, iOS Chrome San Francisco
Hiragino Kaku Gothic ProN  OS X, iOS ヒラギノ
MyYuGothicM                Windows 游ゴシック
Meiryo                     Windows メイリオ
--------------- */
/*-------------------------------------
 Base Settings
-------------------------------------*/
html {
  font-size: 1.2rem;
}

body {
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, MyYuGothicM, YuGothic, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  color: #000000;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* --------------------
  tags
-------------------- */
a {
  color: inherit;
  text-decoration: none;
}

b {
  font-weight: bold;
}

i {
  display: inline-block;
}

em {
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

iframe, object, video, embed {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

table {
  width: 100%;
}

* {
  box-sizing: border-box;
  outline: none;
}

input, textarea {
  border: none;
}

button.ti {
  text-indent: 160%;
}

/* -------------------------
  parts
------------------------- */
/* wrap content
-------------------- */
.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

/* texts
-------------------- */
.tdu {
  text-decoration: underline;
}

.tdn {
  text-decoration: none !important;
}

/* links
-------------------- */
.lbs {
  color: #000000;
}

.lbs:hover {
  color: #323232;
  text-decoration: underline;
}

.tdc {
  border-bottom: 1px solid #9b9b9b;
}

.tdc:hover {
  border-bottom: none;
}

.lca {
  color: #000000;
  text-decoration: underline;
}

.lca:link {
  color: #000000;
}

.lca:visited {
  color: #000000;
}

.lca:hover {
  color: #1e1e1e;
}

.lca:active {
  color: #000000;
}

.lcb {
  color: #000000;
  text-decoration: underline;
}

.lcb:link {
  color: #000000;
}

.lcb:visited {
  color: #000000;
}

.lcb:hover {
  color: #1e1e1e;
}

.lcb:active {
  color: #000000;
}

.lcc {
  color: #000000;
  text-decoration: underline;
}

.lcc:link {
  color: #000000;
}

.lcc:visited {
  color: #000000;
}

.lcc:hover {
  color: #1e1e1e;
}

.lcc:active {
  color: #000000;
}

.lcd {
  color: #000000;
  text-decoration: underline;
}

.lcd:link {
  color: #000000;
}

.lcd:visited {
  color: #000000;
}

.lcd:hover {
  color: #1e1e1e;
}

.lcd:active {
  color: #000000;
}

.fl-range > * {
  float: left;
}

.ib-range {
  font-size: 0;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.ib-range > * {
  font-size: 1.2rem;
  display: inline-block;
  vertical-align: top;
}

.frame-wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}

.frame-wrap > * {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* -------------------------
  parts SP
------------------------- */
.pc {
  display: none !important;
}

.pc-layout {
  display: none !important;
}

.ti {
  display: block;
  height: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  position: relative;
}

.ti-reset {
  height: auto;
  overflow: visible;
  white-space: normal;
  text-indent: 0;
  background: none;
  position: static;
}

@media screen and (max-width: 769px) {
  html {
    font-size: 149.955%;
  }
}

@media screen and (max-width: 667px) {
  html {
    font-size: 130.065%;
  }
}

@media screen and (max-width: 568px) {
  html {
    font-size: 110.76%;
  }
}

@media screen and (max-width: 414px) {
  html {
    font-size: 80.73%;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 73.125%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 62.4%;
  }
}

.container {
  width: 91.46667%;
  margin: 0 auto;
}

.container.lg {
  width: 93.33333%;
}

.container.md {
  width: 91.46667%;
}

.container.sm {
  width: 77.33333%;
}

.container.xs {
  width: 70.66667%;
}

.full-elm {
  width: 107.5%;
  margin-left: -3.75%;
  padding-left: 3.75%;
  padding-right: 3.75%;
}

.content-full-elm {
  width: 115%;
  margin-left: -7.5%;
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.container-pd {
  padding: 0 4.26667%;
}

/* boxes
-------------------- */
.thumb-box.horizontal {
  display: table;
  width: 100%;
  font-size: 0;
}

.thumb-box.horizontal > * {
  font-size: 1.024rem;
  display: inline-block;
  vertical-align: top;
}

/* links
-------------------- */
.lbs {
  color: #000000;
}

.lbs:hover {
  color: #000000;
  text-decoration: none;
}

.fsm1 {
  font-size: 1.1rem;
}

.fsm2 {
  font-size: 1rem;
}

.fsm3 {
  font-size: 0.9rem;
}

.fsm4 {
  font-size: 0.8rem;
}

.fsm5 {
  font-size: 0.7rem;
}

.fsm6 {
  font-size: 0.6rem;
}

.fsm7 {
  font-size: 0.5rem;
}

.fsm8 {
  font-size: 0.4rem;
}

.fsm9 {
  font-size: 0.3rem;
}

.fsm10 {
  font-size: 0.2rem;
}

.fn {
  font-size: 1.2rem !important;
}

.fsp1 {
  font-size: 1.3rem;
}

.fsp2 {
  font-size: 1.4rem;
}

.fsp3 {
  font-size: 1.5rem;
}

.fsp4 {
  font-size: 1.6rem;
}

.fsp5 {
  font-size: 1.7rem;
}

.fsp6 {
  font-size: 1.8rem;
}

.fsp7 {
  font-size: 1.9rem;
}

.fsp8 {
  font-size: 2rem;
}

.fsp9 {
  font-size: 2.1rem;
}

.fsp10 {
  font-size: 2.2rem;
}

.mgn {
  margin: 0;
}

.mga {
  margin: auto;
}

.mtn {
  margin-top: 0;
}

.mts {
  margin-top: 1%;
}

.mt2 {
  margin-top: 2%;
}

.mt3 {
  margin-top: 3%;
}

.mt4 {
  margin-top: 4%;
}

.mt5 {
  margin-top: 5%;
}

.mt6 {
  margin-top: 6%;
}

.mt7 {
  margin-top: 7%;
}

.mt8 {
  margin-top: 8%;
}

.mt9 {
  margin-top: 9%;
}

.mt10 {
  margin-top: 10%;
}

.mbn {
  margin-bottom: 0;
}

.mbs {
  margin-bottom: 1%;
}

.mb2 {
  margin-bottom: 2%;
}

.mb3 {
  margin-bottom: 3%;
}

.mb4 {
  margin-bottom: 4%;
}

.mb5 {
  margin-bottom: 5%;
}

.mb6 {
  margin-bottom: 6%;
}

.mb7 {
  margin-bottom: 7%;
}

.mb8 {
  margin-bottom: 8%;
}

.mb9 {
  margin-bottom: 9%;
}

.mb10 {
  margin-bottom: 10%;
}

.mln {
  margin-left: 0;
}

.mls {
  margin-left: 1%;
}

.ml2 {
  margin-left: 2%;
}

.ml3 {
  margin-left: 3%;
}

.ml4 {
  margin-left: 4%;
}

.ml5 {
  margin-left: 5%;
}

.ml6 {
  margin-left: 6%;
}

.ml7 {
  margin-left: 7%;
}

.ml8 {
  margin-left: 8%;
}

.ml9 {
  margin-left: 9%;
}

.ml10 {
  margin-left: 10%;
}

.mrn {
  margin-right: 0;
}

.mrs {
  margin-right: 1%;
}

.mr2 {
  margin-right: 2%;
}

.mr3 {
  margin-right: 3%;
}

.mr4 {
  margin-right: 4%;
}

.mr5 {
  margin-right: 5%;
}

.mr6 {
  margin-right: 6%;
}

.mr7 {
  margin-right: 7%;
}

.mr8 {
  margin-right: 8%;
}

.mr9 {
  margin-right: 9%;
}

.mr10 {
  margin-right: 10%;
}

.mra {
  margin-right: auto;
}

.mla {
  margin-left: auto;
}

.mca {
  margin-left: auto;
  margin-right: auto;
}

.ptn {
  padding-top: 0;
}

.pts {
  padding-top: 1%;
}

.pt2 {
  padding-top: 2%;
}

.pt3 {
  padding-top: 3%;
}

.pt4 {
  padding-top: 4%;
}

.pt5 {
  padding-top: 5%;
}

.pt6 {
  padding-top: 6%;
}

.pt7 {
  padding-top: 7%;
}

.pt8 {
  padding-top: 8%;
}

.pt9 {
  padding-top: 9%;
}

.pt10 {
  padding-top: 10%;
}

.pbn {
  padding-bottom: 0;
}

.pbs {
  padding-bottom: 1%;
}

.pb2 {
  padding-bottom: 2%;
}

.pb3 {
  padding-bottom: 3%;
}

.pb4 {
  padding-bottom: 4%;
}

.pb5 {
  padding-bottom: 5%;
}

.pb6 {
  padding-bottom: 6%;
}

.pb7 {
  padding-bottom: 7%;
}

.pb8 {
  padding-bottom: 8%;
}

.pb9 {
  padding-bottom: 9%;
}

.pb10 {
  padding-bottom: 10%;
}

.pbx {
  padding-bottom: 4% !important;
}

.pln {
  padding-left: 0;
}

.pls {
  padding-left: 1%;
}

.pl2 {
  padding-left: 2%;
}

.pl3 {
  padding-left: 3%;
}

.pl4 {
  padding-left: 4%;
}

.pl5 {
  padding-left: 5%;
}

.pl6 {
  padding-left: 6%;
}

.pl7 {
  padding-left: 7%;
}

.pl8 {
  padding-left: 8%;
}

.pl9 {
  padding-left: 9%;
}

.pl10 {
  padding-left: 10%;
}

.prn {
  padding-right: 0;
}

.prs {
  padding-right: 1%;
}

.pr2 {
  padding-right: 2%;
}

.pr3 {
  padding-right: 3%;
}

.pr4 {
  padding-right: 4%;
}

.pr5 {
  padding-right: 5%;
}

.pr6 {
  padding-right: 6%;
}

.pr7 {
  padding-right: 7%;
}

.pr8 {
  padding-right: 8%;
}

.pr9 {
  padding-right: 9%;
}

.pr10 {
  padding-right: 10%;
}

.loader-simple {
  height: 3em;
  width: 3em;
  -webkit-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}

@-webkit-keyframes rotation {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*-------------------------------------
 Super General Purpose
-------------------------------------*/
.clearfix, .fl-range, .flex {
  zoom: 1;
}

.clearfix:after, .fl-range:after, .flex:after {
  content: "";
  display: block;
  clear: both;
}

.ir {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}

.tr {
  position: absolute;
  top: 0;
  left: -5000px;
}

.elps {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ref {
  position: relative;
}

.abs {
  position: absolute;
}

.fix {
  position: fixed;
}

.dn {
  display: none !important;
}

.db {
  display: block !important;
}

.di {
  display: inline !important;
}

.ds {
  display: inline-block !important;
}

.dt {
  display: table !important;
}

.dc {
  display: table-cell !important;
}

.rn {
  border-radius: 0 !important;
}

.rs {
  border-radius: 5px;
}

.rm {
  border-radius: 10px;
}

.rl {
  border-radius: 20px;
}

.ca {
  color: #000000 !important;
}

.cb {
  color: #000000 !important;
}

.cc {
  color: #000000 !important;
}

.cd {
  color: #000000 !important;
}

.ce {
  color: #000000 !important;
}

.cf {
  color: #000000 !important;
}

.cg {
  color: #000000 !important;
}

.ch {
  color: #000000 !important;
}

.ci {
  color: #000000 !important;
}

.cj {
  color: #000000 !important;
}

.ck {
  color: #000000 !important;
}

.cl {
  color: #000000 !important;
}

.ba {
  background-color: #000000 !important;
}

.bb {
  background-color: #000000 !important;
}

.bc {
  background-color: #000000 !important;
}

.bd {
  background-color: #000000 !important;
}

.be {
  background-color: #000000 !important;
}

.bf {
  background-color: #000000 !important;
}

.bg {
  background-color: #000000 !important;
}

.bh {
  background-color: #000000 !important;
}

.bi {
  background-color: #000000 !important;
}

.bj {
  background-color: #000000 !important;
}

.bk {
  background-color: #000000 !important;
}

.bl {
  background-color: #000000 !important;
}

.n {
  font-weight: normal !important;
}

.b {
  font-weight: bold !important;
}

.l {
  text-align: left !important;
}

.c {
  text-align: center !important;
}

.r {
  text-align: right !important;
}

.u {
  text-decoration: underline !important;
}

.obl {
  font-style: oblique;
}

.v0 {
  vertical-align: 0;
}

.v1 {
  vertical-align: -1px;
}

.v2 {
  vertical-align: -2px;
}

.v3 {
  vertical-align: -3px;
}

.v4 {
  vertical-align: -4px;
}

.v5 {
  vertical-align: -5px;
}

.vt {
  vertical-align: top;
}

.vm {
  vertical-align: middle;
}

.vb {
  vertical-align: bottom;
}

/* positions
-------------------- */
.pos, .pos-center, .pos-vertical-center, .pos-horizontal-center, .pos-override-center {
  position: absolute;
  margin: auto;
}

.pos-center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.pos-vertical-center {
  top: 0;
  bottom: 0;
}

.pos-horizontal-center {
  left: 0;
  right: 0;
}

.pos-override-center {
  top: -50%;
  bottom: -50%;
  left: -50%;
  right: -50%;
}

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.bg-base {
  background-color: #000000;
}

.col-base {
  color: #000000;
}

.hov-col-base {
  color: #000000;
}

.bg-pink {
  background-color: #c60081;
}

.col-pink {
  color: #c60081;
}

.hov-col-pink {
  color: #c60081;
}

.bg-lightblue {
  background-color: #2099ff;
}

.col-lightblue {
  color: #2099ff;
}

.hov-col-lightblue {
  color: #2099ff;
}

.bg-deepgray {
  background-color: #5d5d5d;
}

.col-deepgray {
  color: #5d5d5d;
}

.hov-col-deepgray {
  color: #5d5d5d;
}

.bg-lightgray {
  background-color: #3e3e3e;
}

.col-lightgray {
  color: #3e3e3e;
}

.hov-col-lightgray {
  color: #3e3e3e;
}

.bg-beige {
  background-color: #f1ebe9;
}

.col-beige {
  color: #f1ebe9;
}

.hov-col-beige {
  color: #f1ebe9;
}

.bg-darkblue {
  background-color: #1f1f1f;
}

.col-darkblue {
  color: #1f1f1f;
}

.hov-col-darkblue {
  color: #1f1f1f;
}

.bg-menuGray {
  background-color: #d4d4d4;
}

.col-menuGray {
  color: #d4d4d4;
}

.hov-col-menuGray {
  color: #d4d4d4;
}

.bg-borderGray {
  background-color: #d8d8d8;
}

.col-borderGray {
  color: #d8d8d8;
}

.hov-col-borderGray {
  color: #d8d8d8;
}

body {
  font-size: 1.024rem;
}

.ib-range > * {
  font-size: 1.024rem;
}

/* --------------------
  javascript settings
-------------------- */
/* --------------------
  project original
-------------------- */
/* titles
-------------------- */
/* tables
-------------------- */
/* boxes
-------------------- */
/* texts
-------------------- */
/* links
-------------------- */
/* btns
-------------------- */
/* arrows
-------------------- */
/* icons
-------------------- */
/* lists
-------------------- */
/* --------------------
  common sections
-------------------- */
/* contents
-------------------- */
/* header
-------------------- */
/* footer
-------------------- */
/* 下層共通 lower
-------------------- */
/* トップ
-------------------- */
