// SP general settinngs
// -------------------------------------

$full: 100%;
$half: 50%;

$fwidth: 960;
$lwidth: 900;
$mwidth: 874;
$swidth: 840;
$xwidth: 800;

$container: (
  lg: percentage($lwidth / $fwidth),
  md: percentage($mwidth / $fwidth),
  sm: percentage($swidth / $fwidth),
  xs: percentage($xwidth / $fwidth),
);

$wp-margin-base: 2em;

$sp-container: percentage($mwidth / $fwidth);
$container-pd: ((100% - $sp-container) / 2);
$inner-pd: percentage(20 / 600);

$font-family-base: $yuGothic;
$font-size-base: 1.2rem;
// $font-size-base: @include getFontSize(2.4);

$font-size-m1: $font-size-base - 0.1rem;
$font-size-m2: $font-size-base - 0.2rem;
$font-size-m3: $font-size-base - 0.3rem;
$font-size-m4: $font-size-base - 0.4rem;
$font-size-m5: $font-size-base - 0.5rem;
$font-size-m6: $font-size-base - 0.6rem;
$font-size-m7: $font-size-base - 0.7rem;
$font-size-m8: $font-size-base - 0.8rem;
$font-size-m9: $font-size-base - 0.9rem;
$font-size-m10: $font-size-base - 1rem;

$font-size-p1: $font-size-base + 0.1rem;
$font-size-p2: $font-size-base + 0.2rem;
$font-size-p3: $font-size-base + 0.3rem;
$font-size-p4: $font-size-base + 0.4rem;
$font-size-p5: $font-size-base + 0.5rem;
$font-size-p6: $font-size-base + 0.6rem;
$font-size-p7: $font-size-base + 0.7rem;
$font-size-p8: $font-size-base + 0.8rem;
$font-size-p9: $font-size-base + 0.9rem;
$font-size-p10: $font-size-base + 1rem;

$space-base: 1%;
$space-2: $space-base * 2;
$space-3: $space-base * 3;
$space-4: $space-base * 4;
$space-5: $space-base * 5;
$space-6: $space-base * 6;
$space-7: $space-base * 7;
$space-8: $space-base * 8;
$space-9: $space-base * 9;
$space-10: $space-base * 10;
