/* -------------------------
  wp parts PC
------------------------- */
body.mce-content-body,
body.mceContentBody {
  @extend .editor;
  max-width: $main;
  margin: 0 auto !important;
  padding: 10px !important;
  background: none;
  line-height: 1.3;
}

.message-nopost {
  font-size: 14px;
  font-weight: bold;
}

.editor {
  @extend .clearfix;
  font-family: $font-family-base;
  font-size: 15px;

  p, ul, div, section, dl, table, form {
    margin: $wp-margin-base 0;
  }

  .editor-title {
    margin: 3rem 0 1rem;
  }
  p {
    line-height: 2;
    letter-spacing: 1.5px;
    &:first-child {
      margin-top: 0;
    }
  }
  a {
    // @extend .link-blue;
  }
  > *:first-child {
    margin-top: 0;
  }
  .lsn {
    list-style: none;
    padding-left: 0;
    li {
      padding-left: 0;
      text-indent: 0;
      letter-spacing: 0;
    }
  }

  .flex-lists {
    display: flex;
    margin: 2em 0;
    li {
      margin-top: 0;
      &:before {
        content: "";
        margin-right: 3px;
        width: 7px;
        height: 11px;
        background-image: url(images/arr_right.png);
        display: inline-block;
        vertical-align: middle;
        margin-top: -3px;
      }
      &:not(:first-child) {
        margin-left: 15px;
      }
    }
  }

  span[class*=mt] {
    display: block;
  }
}